@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import '@fontsource/fira-mono';

:root {
	--font-body:
		'Open Sans', 'Alex Brush', Sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #e8e1e1;
	--color-theme-2: #6ba7de;
	--color-text: rgb(0, 0, 0);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

html{
	scroll-behavior: smooth;
	line-height: 1.15;
}
body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color:white;
	line-height: 1.28581;
	font-size: 12px;
	font-weight: 400;	
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	font-size: 18px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 30px;
	text-align: center;
	font-weight: bolder;
	
}

h2 {
	font-size: 2.3rem;
}

div{
	display: block;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}



#Program, #Praktisk, #Onskeliste{
		position: relative;
		max-width: 1100px;
		box-sizing: border-box;
		margin: 0px auto;
		padding: 15px;
		display: block;
}
.heia{
		display: flex;
		width: 100%;
		
	}
	.vb{
		width: 50%;
		padding: 15px;
	}


input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}


@media(max-width: 576px){
		
		h1{
			font-size: 19.8px;
		}
		
		 h3, h4{
			font-size: 1.7rem;
		}
		
	}
		
		@media(min-width: 576px) and (max-width: 768px){
			h1,h3,h4{
				font-size: 2rem;
			}
			p{
				font-size: 1.7rem;
			}
		}

		@media(min-width: 768px) and (max-width: 992px){

			h1,h3,h4{
				font-size: 30px;
			}
			p{
				font-size: 18px;
			}
		}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
